<div
	class="crt-cursor pointer-events-none fixed left-0 top-0 z-1 hidden opacity-0 transition-opacity duration-150 data-[visible=true]:opacity-100 md:block"
	aria-hidden="true"
	data-crt-cursor
>
	<div class="crt-cursor-ring flex h-10 w-10 items-center justify-center rounded-full border border-color-white text-xs font-light text-color-white">
		<span data-crt-cursor-label>click...</span>
	</div>
</div>
