---
import Header from '../Header.astro';
import CrtScreen from '../CrtScreen.astro';
import MovieNav from '../MovieNav.astro';
import type { FeaturedMovie } from '../../data/movies';

type Props = {
	movies: FeaturedMovie[];
};

const { movies } = Astro.props;
---

<section class="relative flex h-screen flex-col overflow-hidden bg-black px-6 pb-10 pt-40">
	<Header />
	<div class="flex min-h-0 flex-1 items-center justify-center">
		<div class="relative flex w-full max-w-[123vh] -translate-y-8 flex-col items-center">
			<CrtScreen movies={movies} />
			<!-- 動画切り替えnav -->
			<MovieNav movies={movies} />
		</div>
	</div>
</section>
